<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <activeContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>No se pudieron recuperar los contratos activos.</description>
            </return>
         </returnService>
         <contractsList>
            <fiscalNumber>33999000709</fiscalNumber>
            <availableAmount>321654</availableAmount>
            <tax>10</tax>
            <dateFrom>2018-02-09</dateFrom>
            <dateTo>2018-02-09</dateTo>
            <productCode>1000</productCode>
            <productDesc>MasterCard</productDesc>
            <renewal_Auto>1</renewal_Auto>
            <currency>1</currency>
            <country>1</country>
         </contractsList>
         <contractsList>
            <fiscalNumber>33999000709</fiscalNumber>
            <availableAmount>321654</availableAmount>
            <tax>10</tax>
            <dateFrom>2018-02-09</dateFrom>
            <dateTo>2018-02-09</dateTo>
            <productCode>1000</productCode>
            <productDesc>ARGENCARD</productDesc>
            <renewal_Auto>1</renewal_Auto>
            <currency>1</currency>
            <country>1</country>
         </contractsList>
      </activeContractsResponse>
   </S:Body>
</S:Envelope>