<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <advancedSalesAvailabilityResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>advancedSalesAvailability realizado con exito</description>
            </return>
         </returnService>
         <availableProduct>1</availableProduct>
      </advancedSalesAvailabilityResponse>
   </S:Body>
</S:Envelope>