<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <availableContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>Error interno del servidor</description>
            </return>
         </returnService>
         <availableList>
            <fiscalNumber>33711608899</fiscalNumber>
            <amount>10000.00</amount>
            <taxPlanCode>182</taxPlanCode>
            <taxPlan>45.000</taxPlan>
            <brandCode>1000</brandCode>
            <brandDescription>MASTERCARD</brandDescription>
            <currencyCode>032</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <countryCode>2</countryCode>
            <countryDescription>Argentina</countryDescription>
            <ent1>0</ent1>
            <ent2>0</ent2>
            <ent3>0</ent3>
            <ent4>0</ent4>
            <ent5>0</ent5>
            <entity>585</entity>
            <office>172</office>
            <dateFrom>2018-02-22</dateFrom>
            <dateTo>2018-04-23</dateTo>
         </availableList>
         <availableList>
            <fiscalNumber>33711608899</fiscalNumber>
            <amount>10000.00</amount>
            <taxPlanCode>182</taxPlanCode>
            <taxPlan>45.000</taxPlan>
            <brandCode>1000</brandCode>
            <brandDescription>MASTERCARD</brandDescription>
            <currencyCode>022</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <ent1>0</ent1>
            <ent2>0</ent2>
            <ent3>0</ent3>
            <ent4>0</ent4>
            <ent5>0</ent5>
            <entity>585</entity>
            <office>172</office>
            <dateFrom>2018-02-22</dateFrom>
            <dateTo>2018-04-23</dateTo>
         </availableList>
         <availableList>
            <fiscalNumber>33711608899</fiscalNumber>
            <amount>10000.00</amount>
            <taxPlanCode>182</taxPlanCode>
            <taxPlan>45.000</taxPlan>
            <brandCode>1000</brandCode>
            <brandDescription>MASTERCARD</brandDescription>
            <currencyCode>032</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <ent1>0</ent1>
            <ent2>0</ent2>
            <ent3>0</ent3>
            <ent4>0</ent4>
            <ent5>0</ent5>
            <entity>585</entity>
            <office>172</office>
            <dateFrom>2018-02-22</dateFrom>
            <dateTo>2018-04-23</dateTo>
         </availableList>
         <availableList>
            <fiscalNumber>30625699432</fiscalNumber>
            <amount>20000.00</amount>
            <taxPlanCode>182</taxPlanCode>
            <taxPlan>45.000</taxPlan>
            <brandCode>1000</brandCode>
            <brandDescription>MASTERCARD</brandDescription>
            <currencyCode>032</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <ent1>0</ent1>
            <ent2>0</ent2>
            <ent3>0</ent3>
            <ent4>0</ent4>
            <ent5>0</ent5>
            <entity>585</entity>
            <office>172</office>
            <dateFrom>2018-02-22</dateFrom>
            <dateTo>2018-04-23</dateTo>
         </availableList>
         <availableAmount>20000.00</availableAmount>
      </availableContractsResponse>
   </S:Body>
</S:Envelope>
