<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <availableContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>availableContracts realizado con exito</description>
            </return>
         </returnService>
         <availableAmount>20000.00</availableAmount>
         <availableList>
            <fiscalNumber>20951599760</fiscalNumber>
            <amount>12520.00</amount>
            <taxPlanCode/>
            <taxPlan>0.000</taxPlan>
            <productCode>0</productCode>
            <country>1</country>
            <currency>0</currency>
            <ent1>0</ent1>
            <ent2>0</ent2>
            <ent3>0</ent3>
            <ent4>0</ent4>
            <ent5>0</ent5>
            <entity>0</entity>
            <office>300</office>
            <dateFrom>2018-02-16</dateFrom>
            <dateTo>2018-04-17</dateTo>
         </availableList>
      </availableContractsResponse>
   </S:Body>
</S:Envelope>