<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <availableContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>availableContracts realizado con exito</description>
            </return>
         </returnService>
         <availableAmount>500000.00</availableAmount>
      </availableContractsResponse>
   </S:Body>
</S:Envelope>
