<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <cancelContractsAutoRenewalResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>cancelContractsAutoRenewal realizado con exito</description>
            </return>
         </returnService>
         <contractsRes>
            <fiscalNumber>4362436</fiscalNumber>
            <productCode>1000</productCode>
            <country>1</country>
            <currency>1</currency>
            <code>0</code>
            <description>OK</description>
         </contractsRes>
         <contractsRes>
            <fiscalNumber>11111111111</fiscalNumber>
            <productCode>1000</productCode>
            <country>1</country>
            <currency>1</currency>
            <code>111</code>
            <description>ERROR DE CANCEL DUMMY</description>
         </contractsRes>
      </cancelContractsAutoRenewalResponse>
   </S:Body>
</S:Envelope>
