<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <cancelContractsAutoRenewalResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>1</code>
               <description>cancelContractsAutoRenewal realizado con exito</description>
            </return>
         </returnService>
         <contractsRes>
            <fiscalNumber>33999000709</fiscalNumber>
            <brandCode>1000</brandCode>
            <brandDescription>MASTERCARD</brandDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <currencyCode>32</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <code>1</code>
            <description>CONTRATO INEXISTENTE</description>
         </contractsRes>
         <contractsRes>
            <fiscalNumber>33999000709</fiscalNumber>
            <brandCode>1030</brandCode>
            <brandDescription>RED LIDER</brandDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <currencyCode>32</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <code>1</code>
            <description>CONTRATO DADO DE BAJA</description>
         </contractsRes>
         <contractsRes>
            <fiscalNumber>33999000709</fiscalNumber>
            <brandCode>1035</brandCode>
            <brandDescription>LIDER ROU</brandDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <currencyCode>32</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <code>1</code>
            <description>CONTRATO DADO DE BAJA</description>
         </contractsRes>
	 
      </cancelContractsAutoRenewalResponse>
   </S:Body>
</S:Envelope>
