<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <checkAvailabilityResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>1</code>
               <description>checkAvailability realizado con exito</description>
            </return>
         </returnService>
         <isAvailable>false</isAvailable>
      </checkAvailabilityResponse>
   </S:Body
</S:Envelope>