<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <enrollContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>enrollContracts realizado con exito</description>
            </return>
         </returnService>
         <contractsRes>
            <fiscalNumber>30516017267</fiscalNumber>
            <brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
            <currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
			<countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <code>1</code>
            <description>NO HAY DISPONIBLE PARA EL CONTRATO</description>
         </contractsRes>
         <contractsRes>
            <fiscalNumber>30516017267</fiscalNumber>
            <brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
            <currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
			<countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <code>1</code>
            <description>NO HAY DISPONIBLE PARA EL CONTRATO</description>
         </contractsRes>
         <contractsRes>
            <fiscalNumber>30522211563</fiscalNumber>
            <brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
			<currencyCode>032</currencyCode>
            <currencyDescription>Pesos</currencyDescription>
            <code>1</code>
            <description>CONTRATO DUPLICADO</description>
         </contractsRes>
         <contractsRes>
            <fiscalNumber>30522211563</fiscalNumber>
            <brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
            <currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
            <countryCode>1</countryCode>
            <countryDescription>Argentina</countryDescription>
            <code>1</code>
            <description>CONTRATO DUPLICADO</description>
         </contractsRes>
      </enrollContractsResponse>
   </S:Body>
</S:Envelope>
