<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
	<S:Body>
		<enrollContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
		<returnService>
			<return>
			<code>0</code>
			<description>Ha ocurrido un error en el ws </description>
			</return>
		</returnService>
		<contractsRes>
			<fiscalNumber>33711608899</fiscalNumber>
			<commerceName>11113</commerceName>
			<brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
			<currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
			<countryCode>1</countryCode>
			<countryDescription>Argentina</countryDescription>
			<code>1</code>
			<tax>15</tax>
			<taxInstallmentPlanCode><taxInstallmentPlanCode>
			<taxInstallmentPlan>A<taxInstallmentPlan>
			<isRecurrenceAvailable>B<isRecurrenceAvailable>
			<installmentsTax>C<installmentsTax>
			<advancedInstallmentType>D<advancedCashType>
			<advancedInstallmentTypeDescription>E<advancedInstallmentTypeDescription>
			<advancedCashType>F<advancedCashType>
			<advancedCashTypeDescription>G<advancedCashTypeDescription>
			<availableAmount>9876</availableAmount>
			<description>NO HAY DISPONIBLE PARA EL CONTRATO</description>
		 </contractsRes>
		 <contractsRes>
			<fiscalNumber>33711608899</fiscalNumber>
			<brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
			<currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
			<countryCode>1</countryCode>
			<countryDescription>Argentina</countryDescription>
			<code>0</code>
			<tax>15</tax>
			<taxInstallmentPlanCode><taxInstallmentPlanCode>
			<taxInstallmentPlan>A<taxInstallmentPlan>
			<isRecurrenceAvailable>B<isRecurrenceAvailable>
			<installmentsTax>C<installmentsTax>
			<advancedInstallmentType>D<advancedCashType>
			<advancedInstallmentTypeDescription>E<advancedInstallmentTypeDescription>
			<advancedCashType>F<advancedCashType>
			<advancedCashTypeDescription>G<advancedCashTypeDescription>
			<availableAmount>9876</availableAmount>
			<description>NO HAY DISPONIBLE PARA EL CONTRATO</description>
		</contractsRes>
		<contractsRes>
			<fiscalNumber>33711608899</fiscalNumber>
			<brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
			<countryCode>1</countryCode>
			<countryDescription>Argentina</countryDescription>
			<currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
			<code>1</code>
			<taxInstallmentPlanCode><taxInstallmentPlanCode>
			<taxInstallmentPlan>A<taxInstallmentPlan>
			<isRecurrenceAvailable>B<isRecurrenceAvailable>
			<installmentsTax>C<installmentsTax>
			<advancedInstallmentType>D<advancedCashType>
			<advancedInstallmentTypeDescription>E<advancedInstallmentTypeDescription>
			<advancedCashType>F<advancedCashType>
			<advancedCashTypeDescription>G<advancedCashTypeDescription>
			<availableAmount>9876</availableAmount>
			<description>CONTRATO DUPLICADO</description>
		</contractsRes>
		<contractsRes>
			<fiscalNumber>30625699432</fiscalNumber>
			<brandCode>1000</brandCode>
			<brandDescription>MASTERCARD</brandDescription>
			<currencyCode>032</currencyCode>
			<currencyDescription>Pesos</currencyDescription>
			<countryCode>1</countryCode>
			<countryDescription>Argentina</countryDescription>
			<code>1</code>
			<taxInstallmentPlanCode><taxInstallmentPlanCode>
			<taxInstallmentPlan>A<taxInstallmentPlan>
			<isRecurrenceAvailable>B<isRecurrenceAvailable>
			<installmentsTax>C<installmentsTax>
			<advancedInstallmentType>D<advancedCashType>
			<advancedInstallmentTypeDescription>E<advancedInstallmentTypeDescription>
			<advancedCashType>F<advancedCashType>
			<advancedCashTypeDescription>G<advancedCashTypeDescription>
			<availableAmount>9876</availableAmount>
			<description>CONTRATO DUPLICADO</description>
		</contractsRes>
	</enrollContractsResponse>
	</S:Body>
</S:Envelope>
