<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <enrollContractsResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
         <returnService>
            <return>
               <code>0</code>
               <description>enrollContracts realizado con exito</description>
            </return>
         </returnService>
         <contractsRes>
            <fiscalNumber>524362546</fiscalNumber>
            <productCode>0</productCode>
            <country>1</country>
            <currency>1</currency>
            <code>0</code>
            <description>OK</description>
         </contractsRes>
      </enrollContractsResponse>
   </S:Body>
</S:Envelope>
