<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <findCommercesResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>00000</code>
               <description>FindCommerces realizado con éxito</description>
            </return>
         </returnService>
         <elementsNumber>1</elementsNumber>
         <businessName>RAZON SOCIAL 33999000709</businessName>
         <premium>1</premium>
         <vip>1</vip>
         <commerces>
            <commerce>
               <commerceNumber>1028144</commerceNumber>
               <checkDigit>0</checkDigit>
               <commerceName>COMERCIO NRO 1028144</commerceName>
               <brands>
                  <brand>
                     <codBrand>1000</codBrand>
                     <descBrand>MASTERCARD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1030</codBrand>
                     <descBrand>RED LIDER</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1035</codBrand>
                     <descBrand>LIDER ROU</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1040</codBrand>
                     <descBrand>ARGENCARD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1055</codBrand>
                     <descBrand>FALABELLA CMR</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1060</codBrand>
                     <descBrand>TICKET NACION</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1080</codBrand>
                     <descBrand>PRUEBA SODEXHO</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1160</codBrand>
                     <descBrand>TARJETA RECORD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1195</codBrand>
                     <descBrand>CORDIAL PREPAGAS</descBrand>
                  </brand>
               </brands>
            </commerce>
            <commerce>
               <commerceNumber>1028145</commerceNumber>
               <checkDigit>0</checkDigit>
               <commerceName>COMERCIO NRO 1028145</commerceName>
               <brands>
                  <brand>
                     <codBrand>1000</codBrand>
                     <descBrand>MASTERCARD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1030</codBrand>
                     <descBrand>RED LIDER</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1035</codBrand>
                     <descBrand>LIDER ROU</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1040</codBrand>
                     <descBrand>ARGENCARD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1055</codBrand>
                     <descBrand>FALABELLA CMR</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1060</codBrand>
                     <descBrand>TICKET NACION</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1080</codBrand>
                     <descBrand>PRUEBA SODEXHO</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1160</codBrand>
                     <descBrand>TARJETA RECORD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>1195</codBrand>
                     <descBrand>CORDIAL PREPAGAS</descBrand>
                  </brand>
               </brands>
            </commerce>
         </commerces>
      </findCommercesResponse>
   </S:Body>
</S:Envelope>