<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <findCommercesResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>00000</code>
               <description>FindCommerces realizado con éxito</description>
            </return>
         </returnService>
         <elementsNumber>5</elementsNumber>
         <businessName>RZ 27207347140</businessName>
         <premium>0</premium>
         <vip>1</vip>
         <commerces>
            <commerce>
               <commerceNumber>7321517</commerceNumber>
               <checkDigit>0</checkDigit>
               <commerceName>COMERCIO NRO 7321517</commerceName>
               <brands>
                  <brand>
                     <codBrand>1</codBrand>
                     <descBrand>MASTERCARD</descBrand>
                  </brand>
                  <brand>
                     <codBrand>2</codBrand>
                     <descBrand>RED LIDER</descBrand>
                  </brand>
                  <brand>
                     <codBrand>3</codBrand>
                     <descBrand>LIDER ROU</descBrand>
                  </brand>
				</brands>
            </commerce>
         </commerces>
      </findCommercesResponse>
   </S:Body>
</S:Envelope>