<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <loginResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>0</code>
               <description>Login realizado con exito</description>
            </return>
         </returnService>
      </loginResponse>
   </S:Body>
</S:Envelope>