<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <balanceSummaryQueryResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>00000</code>
               <description>BalanceSummaryQuery realizado con éxito</description>
            </return>
         </returnService>
         <totalSales>23123.00</totalSales>
         <totalSettlement>44123.00</totalSettlement>
         <totalDiscount>1232.44</totalDiscount>
         <pendingPayment>-1200.50</pendingPayment>
      </balanceSummaryQueryResponse>
   </S:Body>
</S:Envelope>