<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
  <S:Body>
     <findCommercesResponse xmlns="http://www.firstdata.com/fdadvancedsale/">
        <returnService>
           <return>
              <code>0</code>
              <description>findCommerces realizado con exito</description>
           </return>
        </returnService>
        <elementsNumber>10</elementsNumber>
        <commerces>
           <commerceNumber>1435530</commerceNumber>
           <checkDigit>6</checkDigit>
           <financeType>1</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1541514</commerceNumber>
           <checkDigit>3</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>2250</commerceNumber>
           <checkDigit>9</checkDigit>
           <financeType>1</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1028144</commerceNumber>
           <checkDigit>0</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1028145</commerceNumber>
           <checkDigit>1</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1668975</commerceNumber>
           <checkDigit>4</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1679356</commerceNumber>
           <checkDigit>4</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1679522</commerceNumber>
           <checkDigit>1</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1679745</commerceNumber>
           <checkDigit>6</checkDigit>
           <financeType>2</financeType>
        </commerces>
        <commerces>
           <commerceNumber>1679777</commerceNumber>
           <checkDigit>2</checkDigit>
           <financeType>2</financeType>
        </commerces>
     </findCommercesResponse>
  </S:Body>
</S:Envelope>