<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <balanceSummaryQueryResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>00000</code>
               <description>BalanceSummaryQuery realizado con éxito</description>
            </return>
         </returnService>
         <totalSales>24079.33</totalSales>
         <totalSettlement>22377.55</totalSettlement>
         <totalDiscount>1701.78</totalDiscount>
         <pendingPayment>76618.13</pendingPayment>
      </balanceSummaryQueryResponse>
   </S:Body>
</S:Envelope>