<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <suscribeAlertResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>1</code>
               <description>SUSCRIBE REALIZADO CON ÉXITO</description>
            </return>
         </returnService>
      </suscribeAlertResponse>
   </S:Body>
</S:Envelope>