<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <unsuscribeAlertResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>00000</code>
               <description>UNSUSCRIBE ALERT REALIZADO CON ÉXITO</description>
            </return>
         </returnService>
      </unsuscribeAlertResponse>
   </S:Body>
</S:Envelope>