<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <S:Body>
      <unsubscribePremiumResponse xmlns="http://www.firstdata.com/fdcomar/">
         <returnService>
            <return>
               <code>2</code>
               <description>Desuscripción premium realizado con exito</description>
            </return>
         </returnService>        
      </unsubscribePremiumResponse>
   </S:Body>
</S:Envelope>